body {
    background-color: #ececec; 
  }
  .user-profile {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
    background-color: #232F9D; 
    color: #fff; 
  }
  .user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); 
  }
  .user-options {
    margin-top: 20px;
  }
  .btn {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
  }
  #icon {
    position: fixed;
    top: 10px;
    right: 10px;

  }